* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
    height: auto;
    display: block;
}

/* Navegação */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://via.placeholder.com/1500x500') no-repeat center center/cover;
    padding: 100px 20px;
    text-align: center;
    color: #fff;
}

.hero h2 {
    font-size: 3.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.btn {
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.produtos {
    padding: 50px 0;
    background-color: #fff;
}

.produtos h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.produto {
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.produto h3 {
    font-size: 2em;
    color: #000;
    margin-bottom: 15px;
}

.produto .preco {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 15px;
}

.sobre, .contato {
    padding: 50px 20px;
    background-color: #f7f7f7;
}

.sobre h2, .contato h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}

.sobre p, .contato p {
    text-align: center;
    font-size: 1.5em;
    color: #333;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

footer p {
    font-size: 1.2em;
}

h2, h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

h2:hover, h3:hover {
    color: #555;
}
