* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

body.dark-mode {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

header {
    background-color: #fff;
    color: #000;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 10;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

header.dark-mode {
    background-color: #3e3e3e;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 180px;
    height: auto;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #666;
    transform: scale(1.1);
}

nav ul li a.dark-mode {
    color: #e0e0e0;
}

.hero {
    background: linear-gradient(to top, #000000, #666666); 
    padding: 150px 20px;
    text-align: center;
    color: #fff;
    position: relative;
}

.hero.dark-mode {
    background-color: #3c3c3c;
}

.hero h2 {
    font-size: 4em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 1.8em;
    margin-bottom: 30px;
}

.btn {
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
}

.btn-dark-mode {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    outline: none;
}

.btn-dark-mode:hover {
    background-color: #555;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

.btn-dark-mode.dark-mode {
    background-color: #fff; 
    color: #000; 
}

.btn-dark-mode.dark-mode:hover {
    background-color: #ddd;
}

.produtos {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

.produtos.dark-mode {
    background-color: #444;
}

.produtos h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.grid-produtos {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    max-width: 300px;
}

.produto:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
}

.produto a {
    text-decoration: none;
    color: #000;
    font-size: 1.8em;
}

.produto a:visited {
    color: #000;
}

.produto.dark-mode a {
    color: #e0e0e0;
}

.produto.dark-mode a:visited {
    color: #e0e0e0;
}

.produto h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
}

.produto .preco {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.produto p {
    font-size: 1.2em;
    color: #666;
}

.produto .btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e67e22;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.produto .btn:hover {
    background-color: #d35400;
    transform: translateY(-2px);
}

.sobre {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.sobre.dark-mode {
    background-color: #3c3c3c;
    color: #e0e0e0;
}

.sobre-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.sobre-container.dark-mode {
    background-color: #444;
    color: #e0e0e0;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-buttons a {
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-buttons a:hover {
    transform: scale(1.05);
}

.btn-whatsapp {
    background-color: #25D366; /* Verde claro do WhatsApp */
}

.btn-whatsapp:hover {
    background-color: #1EBE5D;
}

.btn-instagram {
    background-color: #f5295c; /* Rosa alaranjado do Instagram */
}

.btn-instagram:hover {
    background-color: #f34434;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1.2em;
}

footer.dark-mode {
    background-color: #222;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-links a {
    color: #000;
    font-size: 2em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #555;
}

.social-links a.dark-mode {
    color: #e0e0e0;
}

.social-links a.dark-mode:hover {
    color: #bbb;
}
