* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

body.dark-mode {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

header {
    background-color: #fff;
    color: #000;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 10;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

header.dark-mode {
    background-color: #3e3e3e;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 180px;
    height: auto;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #666;
    transform: scale(1.1);
}

nav ul li a.dark-mode {
    color: #e0e0e0;
}

.hero {
    background: linear-gradient(to top, #000000, #666666); 
    padding: 150px 20px;
    text-align: center;
    color: #fff;
    position: relative;
}

.hero.dark-mode {
    background-color: #3c3c3c;
}

.hero h2 {
    font-size: 4em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 1.8em;
    margin-bottom: 30px;
}

.btn {
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
}

.btn-dark-mode {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    outline: none;
}

.btn-dark-mode:hover {
    background-color: #555;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

.btn-dark-mode.dark-mode {
    background-color: #fff; 
    color: #000; 
}

.btn-dark-mode.dark-mode:hover {
    background-color: #f0f0f0; 
    color: #333;
}

.produtos {
    padding: 50px 0;
    background-color: #fff;
}

.produtos.dark-mode {
    background-color: #4a4a4a;
}

.produtos h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 40px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.produtos.dark-mode h2 {
    color: #fff; 
}

.grid-produtos {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px;
    max-width: 900px; 
    margin: 0 auto;
    padding: 0 20px;
}

.grid-produtos a {
    text-decoration: none;
}

.produto {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.produto:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
}

.produto.dark-mode {
    background-color: #595959;
    border-color: #7a7a7a;
}

.produto h3 {
    font-family: 'Georgia', serif; 
    font-size: 1.8em; 
    margin-bottom: 10px;
    color: #000;
    text-transform: uppercase; 
}

.produto.dark-mode h3 {
    color: #e0e0e0;
}

.produto p {
    font-family: 'Arial', sans-serif; 
    font-size: 1.2em; 
    color: #666;
}

.produto.dark-mode p {
    color: #c7c7c7;
}

.produto .preco {
    font-family: 'Georgia', serif; 
    font-weight: bold;
    font-size: 1.5em; 
    margin-bottom: 15px;
    color: #333;
}

.produto.dark-mode .preco {
    color: #f0f0f0;
}

.sobre {
    padding: 50px 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.sobre h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

.sobre p {
    font-size: 1.5em;
    max-width: 800px;
    margin: 0 auto;
    color: #666;
}

.social-buttons {
    margin-top: 30px;
}

.social-buttons a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #25d366;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.social-buttons a.btn-instagram {
    background-color: #e1306c;
}

.social-buttons a:hover {
    background-color: #128c7e;
}

.social-buttons a.btn-instagram:hover {
    background-color: #bc2a8d;
}

footer {
    padding: 30px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

footer.dark-mode {
    background-color: #1c1c1c;
}
